fastapi
uvicorn[standard]
python-multipart
aiofiles
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
opencv-python
mediapipe
imutils
numpy
scikit-learn
scipy
joblib
tensorflow
pandas
matplotlib
seaborn
tqdm
